.navagation-bar{
    background-image: url(asset/shutterstock_1453413800-1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    height: 95%;

   
   

}
.nav-bar1 {
  
    width: 100%;
    margin: 0 auto;
    position: sticky;
    top: 0;
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Trebuchet MS";
    font-size: large;
  
  }
  .Logo{
    font-size: 4rem;
    font-style: oblique;

    color: #ffffff;
  }

.container{
   

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height:70%

}

.greeting{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;

    height: 100%;
    

}
.welcome{
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    width: 100%;


}
.greeting-text{
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    

}

/* our products */
.our_products{

    
}
.product{
    text-align: center;
    font-size: 30px;
    margin: 50px;
    text-transform: uppercase;
}
.product-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
    padding: 20px;

    



}
.product-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 350px;
    height: 400px;
    padding: 20px;
    background-color: rgb(255, 196, 21);
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  
   
    

}
.product-content h3{
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    margin: 10px;
    background-color: aliceblue;

}
.our_products img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    border-radius: 10px;
    
}




/* OUR SERVICE */
.our_services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width:90%;
    
    

}
.our_services h1{
    font-size: 30px;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.our_services .img{
    width: 85%;
    height: 60%;

    
}
.service-container{
    grid-gap: 40px;
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 30 auto;
    width: 90%;



}

.servics-box{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    width: 90%;


}

.our_services img{
    background-color: aliceblue;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    padding: 5px;
    margin: 0 auto;
    border-radius: 10px;
    

}
.service-container .servics-box p{

    background-color: aquamarine;
}




 


