* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Trebuchet MS";
  background-color: #f5f5f5;
}

.header {
  width: 100%;
  background-color: rgb(224, 224, 224);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  padding: 10px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  text-align: center;
}

:root {
  --green-primary-color: rgb(23, 230, 16);
  --white-secondary-color: #ffffff;
  --black-tertiary-color: #000000;
  --navbar-backround-color: #f5f5f5;
  --yellow-text-color: #ffff00;
  --menu-item-color: #979595;
  --dark-green-color: #4fd972;
}
li,
a,
h2,
button {
  text-decoration: none;
  list-style: none;
  color: inherit;
  outline: none;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.logo {
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  cursor: pointer;
  margin: 0 0 0 10px;
  padding: 0;
  font-weight: 700;
  font-size: 3rem;
  color: var(--green-primary-color);
  text-transform: uppercase;
}

.nav-bar {
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: var(--navbar-backround-color);
}
.nav-menu {
  display: flex;
}
.nav-menu li {
  cursor: pointer;
  padding: 1.5rem;
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
}
.nav-menu li:hover {
  color: var(--green-primary-color);
  transition: none;
}
.nav-icon {
  cursor: pointer;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.nav-icon #shopping-cart {
  font-size: 1.5rem;
  color: var(--white-secondary-color);
  background-color: var(--green-primary-color);
  border-radius: 3px;
  padding: 2px;
}
.nav-icon input[type="text"] {
  color: var(--secondary-color);
  border: none;
  border-radius: 3px;
  padding: 5px;
  font-size: 1rem;
}
.btn-search {
  font-size: 1.5rem;
  color: var(--white-secondary-color);
  background-color: var(--green-primary-color);
  border-radius: 3px;
  padding: 2px;
}

/* menu category  */
.menu-category {
  background-color: var(--green-primary-color);
  /* border-bottom: .5px solid var(--navbar-backround-color); */
  margin-bottom: 1px;
  position: sticky;
  top: 75;
}
.menu-content {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}
.menu-icon {
  cursor: pointer;
  font-size: larger;
  
}
.menu-icon:hover {
  transition: none;
  border: 1px solid rgb(23, 230, 16);
  color: #ffffff;
}

.menu-item {
  display: flex;
  align-items: center;
}
.menu-item a.active {
  color: var(--black-tertiary-color);
  transition: none;
  border-bottom: 1px solid var(--green-primary-color);
}
.menu-item a {
  color: var(--white-secondary-color);
  font-size: 1.1rem;
  font-weight: 400;
  text-decoration: none;
  margin-left: 10px;
}
.menu-item a:hover {
  color: var(--dark-green-color);
  transition: none;
}

.All-menu {
  position: absolute;
  width: 20%;
  z-index: 1;
  display: none;
}
.all-menu-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.all-menu-item {
  background-color: var(--green-primary-color);
  display: flex;
  color: var(--white-secondary-color);
  align-items: flex-start;
  flex-direction: column;
  padding: 10px;
  border-bottom: 1px solid var(--navbar-backround-color);
}
.item.fashion,
.item.shoes,
.item.bag,
.item.watch,
.item.toy,
.item.accessories {
  display: flex;
  color: var(--black-tertiary-color);
  align-items: flex-start;
  flex-direction: column;
  padding: 2px;
  border-bottom: 1px solid var(--navbar-backround-color);
}
.shoes-item,
.fashion-item,
.bag-item,
.watch-item,
.toy-item,
.accessories-item {
  width: 80%;
  margin: 10 auto;
}
.shoes-item a,
.fashion-item a,
.bag-item a,
.watch-item a,
.toy-item a,
.accessories-item a {
  color: var(--white-secondary-color);
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  margin-left: 10px;
}
.remove-menu {
  margin-left: 95%;
  justify-content: flex-end;
  background-color:#ffff00;
  color: #000000;
  cursor: pointer;
}

.campagn {
  background-color: #ffffff;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  padding: 10px;

  transition: all 0.4s ease-in-out;
  cursor: pointer;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  box-shadow: rgba(27, 31, 35, 0.04) 1px 2px 0px,
    rgba(255, 255, 255, 0.25) 1px 2px 0px inset;
}
.feature {
  border: 1px solid white;
  background-color: var(--dark-green-color);
  /* margin-right: 15px; */
}

.feature-list {
  margin: 5px;
  background-color: var(--dark-green-color);
  padding: 15px;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 2px 0px,
    rgba(255, 255, 255, 0.25) 0px 2px 0px inset;
  border-bottom: 0;
  border-radius: 8px;
}
.location {
  margin: 5px;
  background-color: var(--yellow-text-color);

  display: flex;
}
.feature-list a {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;

  color: rgb(255, 255, 255);
}
.feature-list a:hover {
  color:#ffff00;
  transition: calc(0.4s);
}

iframe {
  margin-top: 10px;
  width: 100px;
  border-radius: 8px;

  height: 100px;
  border: 3px solid rgb(181, 175, 175);
}
span {
  margin: 10px 10px;
  font-size: medium;
  color: rgb(17, 6, 6);
}

[data-component="slideshow"] .slide {
  display: none;
}

[data-component="slideshow"] .slide.active {
  display: block;
}
.slide img {
  margin: 0 auto;
  width: 968px;

  height: 100%;
}

.Materails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  align-items: center;
  gap: 30px;
  margin: 0 auto;

  padding: 10px;

  width: 80%;
}
.meterail-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meterail-list img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 3px solid rgb(181, 175, 175);

  padding: 5px;
  margin: 0 auto;
  display: flex;

  transition: calc(0.5s);
  padding: 5px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meterail-list img:hover {
  transform: scale(1.1);
  transition: calc(0.5s);
  padding: 2px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(181, 175, 175);
  border-radius: 50%;
  background-color: rgb(23, 230, 16);;
  color: white;
  cursor: pointer;
}

.search-product {
  position: sticky;
  top: 137;
  background-color: var(--navbar-backround-color);
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.search-product input {
  width: 40%;
  padding: 10px;
  outline: none;
  border: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: 2px solid var(--green-primary-color);
  border-top: none;
  border-bottom: none;
  transition: calc(0.5s);
}

.search-product .search-btn {
  padding: 11px;
  outline: none;
  border: none;
  border-top-right-radius: 0px;
  background-color: rgb(23, 230, 16);;
  color: white;
  cursor: pointer;
  transition: calc(0.5s);
}

.Related {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10 auto;
  width: 80%;
  flex-wrap: wrap;
  background-color: var(--navbar-backround-color);
}
.Related .related-container img {
  width: 270px;
  height: 200px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  transition: calc(0.5s);
}
.Related .related-container img:hover {
  transform: scale(1);
  transition: calc(0.5s);
  padding: 2px;
  display: flex;
  border: 1px solid rgb(181, 175, 175);
  border-radius: 18;
  background-color: var(--green-primary-color);
  color: white;
  cursor: pointer;
  /* blur filter  */
  filter: blur(0.1px);
}
.wrape-content {
  background-color: #ebebeb;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
}

.footer-container {
  display: block;
  height: 50vh;
  width: 100%;
  background-color: #ebede5;
  padding: 10px;
  text-align: center;
}
.footer-menu {
  display: flex;
  justify-content: center;
  margin: 50px auto;
  width: 80%;
  padding: 10px;
  text-align: center;
  gap: 100px;
  flex-wrap: wrap;
  flex-direction: row;
}
.footer-menu-item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 30px;
}
.footer-menu-item a:hover {
  color: #ffff00;
}
.footer-social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  padding: 10px;
  text-align: center;
  gap: 60px;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 100px;
}
.footer-social-media a:hover {
  color:  rgb(23, 230, 16);
}
