.Popular-Product{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(1fr,auto));
    margin: 5 auto;
    width: 80%;
    background-color: var(#f5f5f5);

}
.Popular-Product-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;
    justify-content: center;
    align-items: center;
    
}
.Popular-Product img{
    cursor: pointer;
    width: 231px;
    height: 220px;
    margin: 0 auto;

}.Popular-Product img:hover {
   
    transition: all .42 ease;
   
   
}
.Popular-Product-info{
    cursor: pointer;
    width: 231px;
    background-color: rgb(223, 223, 223);
    
}
.Popular-Product-info:hover{
    background-color: rgb(255, 255, 255);
    transform: scale(1.01);
    transition: all .42 ease;
}
.Product-name-price{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    

}
.ratting{
    display: flex;
    justify-content:space-between;

}