* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: whitesmoke;
}
.top {
  padding: 10px;
  margin: 0;
  background-color: lightgray;
  /* margin: 10px; */
  text-align: center;

  font-family: "Helvetica Neue", "Arial", sans-serif;
  /* font-style: italic; */
  font-weight: 100;
  font-variant-ligatures: normal;
  font-size: 1rem;
  letter-spacing: 1px;
}
li,
a,
h2,
button {
  list-style: none;
  color: rgb(114, 186, 5);

  text-decoration: none;
  font-size: medium;
  font-family: Arial, sans-serif;
}
