* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: whitesmoke;
}
.top {
  padding: 10px;
  margin: 0;
  background-color: lightgray;
  /* margin: 10px; */
  text-align: center;

  font-family: "Helvetica Neue", "Arial", sans-serif;
  /* font-style: italic; */
  font-weight: 100;
  font-variant-ligatures: normal;
  font-size: 1rem;
  letter-spacing: 1px;
}
li,
a,
h2,
button {
  list-style: none;
  color: rgb(114, 186, 5);

  text-decoration: none;
  font-size: medium;
  font-family: Arial, sans-serif;
}
h1 {
  color: rgb(54, 194, 54);
}
.nav-bar {
  width: 100%;
  display: flex;
  align-items: center;
  background: linear-gradient(
    45deg,
    rgb(255, 255, 255),
    rgb(249, 252, 249),
    rgb(255, 255, 255)
  );
  justify-content: space-around;
}
