* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.title-header {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin: 2rem 0;
}
.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  background-color: #fff;
  margin: 0 auto;
}
.card {
  display: flex;
  background-color: rgb(255, 255, 255);
  margin: 20px;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
img {
  width: 150px;
  height: 150px;
  margin: 10px;
  object-fit: contain;
  border-radius: 50%;
}
img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.cart-info h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 10px;
}
.cart-info p {
  font-size: 1rem;
  font-weight: 400;
}
button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #f1f1f1;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
button:hover {
  background-color: #e1e1e1;
}
div > i {
  margin: 10px;
  font-size: 1.5rem;
  color: #373737;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
div > i:hover {
  color: #006000;
}
