@charset "utf-8";

/******* Fonts Import Start **********/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/********* Fonts Face CSS End **********/

/******* Common Element CSS Start ******/
* {

  margin: 0px;
  padding: 0px;

}
body {

  font-family: "Roboto", sans-serif;
  font-size: 16px;

}

.clear {
  clear: both;
}

img {
  max-width: 100%;
  border: 0px;
}

ul,ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

a:hover {
  color: #e73700;
}
h2 {

  margin-bottom: 48px;
  padding-bottom: 16px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  text-transform: capitalize;
}
h3 {
  margin: 0 0 10px;
  font-size: 28px;
  line-height: 36px;
}
.group{
  
  display: flex;
  background-color: aliceblue;
  
}
.item{
  align-items: center;
  padding: 20px;
  background-color: aqua;
}

.imge-soheak{
  width: 280px;
  height: 330px;
}
.imge-many{
  width: 280px;
  height: 330px;
}
.imge-koemnak{
  width: 280px;
  height: 330px;
}
.imge-dana{
  width: 300px;
  height: 330px;
}







