
.Popular{
    background-color: #f5f5f5;
   
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 10px 0 0;



}.popular-text{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    font-size: 1.2rem;
    background-color: #ffffff;
}.popular-text span{
    font-size: 1.3rem;

    border-bottom: 2px solid rgb(255, 208, 0);
    padding-bottom: 3px;
    
    

}
.Product{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(1fr,auto));
    margin: auto;
    width: 80%;
}
.Product img{
    cursor: pointer;
    width: 282px;
    height: 300px;
    margin: 0 auto;
  
  
   

}.Product img:hover{
    transform: scale(1.01);
    transition: all .42 ease;
    
   
}
.product-container{
    display: flex;
   
    flex-wrap: wrap;
    width: 100%;
    gap: 29px;
}.product-info{
    cursor: pointer;
    width: 282px;
    background-color: rgb(255, 255, 255);
   
}.product-text {
    padding: .5rem;

    
    
}
.name-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;



}.name-price .product-price{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(71, 107, 43);
}.product-text .product-details{
    font-size: 1rem;
    color: rgb(53, 54, 52);

    
}
.product-name{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(71, 107, 43);
  }

.product-card{
    display: flex;
    justify-content: space-between;
    
}.product-card .bx-star,.bxs-star-half{
    color: rgb(255, 213, 0);
   
    padding: 5 0;

}.bx-shopping-bag{
    background-color: rgb(71, 107, 43);
    color: #ffffff;
    padding: 5px;
    border-radius: 3px;

}