*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f1f1f1;

}
.cart{
  position: fixed;
  right: -450px;
  top: 10.4rem;
  width:450px;
  background-color: #fff;
  z-index: 999;
  transition: 0.5s;
  

}
.cart h3{
  text-align: center;
  padding: 10px;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ccc;
}
.cart.active{
  right: 0;
  transition: 0.5s;

}
.close-cart{
  display: flex;
  justify-content:end;
    right: 0;
    top:10;
    background-color: #ccc;
    font-weight: 700;
    font-size: 1.5em;
    color: #291e1e;
    padding: 2px;
  
    cursor: pointer;
  }
.cart-content{
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #ee0a0a #f1f1f1;
  
  


}
.cart-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
.cart-product-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  

}
.cart .product-image{
  width: 80px;
  height: 70px;
  object-fit: cover;
  border-radius: 2px;
 

  
}
.product-title{
  font-weight: 500;
  font-size: 1.1em;
  margin-left: 10px;
  width: 100%;
  text-align: left;
  color: #000000;
  text-transform: capitalize;
  

  
}

.cart-quantity{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  margin-right: 40px;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-weight: 500;
  font-size: 1.1em;
  color: #000000;
  text-transform: capitalize;
  

}
.quantity{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30px;
  padding: 1px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-weight: 500;
  font-size: 1.1em;
  color: #000000;
  text-transform: capitalize;
  

}
.bx-minus{
 
  color: #ee0a0a;
  cursor: pointer;

}
.bx-plus{
 
  color: #ee0a0a;
  cursor: pointer;

}
.product-price{
  font-weight: 500;
  font-size: 1.1em;
  margin-left: 10px;
  width: 100%;
  text-align: left;
  color: #000000;
  text-transform: capitalize;
  
}


/* remove item  */
.bx-trash-alt{
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 3px;
  font-weight: 500;
  font-size: 1.2em;
  color: #ffffff;
  background-color: #ee0a0a;
  border-radius: 4px;
  cursor: pointer;
}

.total-price{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-weight: 700;
  font-size: 1.2em;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
 
}
.checkout{
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  font-weight: 700;
  font-size: 1.2em;
  
  
}
.checkout-btn{
  border:none;
  cursor: pointer;
  color: #ffffff;
  background-color: #ee0a0a;
  padding: 10px;
  border-radius: 4px;
  font-weight: 700;
  

  

}

