*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f1f1f1;

}
.cart{
  position: fixed;
  right: -300px;
  top: 10.4rem;
  width: 300px;
  background-color: #fff;
  z-index: 999;
  transition: 0.5s;
  

}
.cart h3{
  text-align: center;
  padding: 10px;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ccc;
}
.cart.active{
  right: 0;
  transition: 0.5s;

}
.cart-content{
  
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  border-bottom: 1px solid #ccc;
}

.cart .cart-img{
  width: 100px;
  height: 100px;
}
.cart-product-info{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  gap: 10px;

  justify-content: space-around;
}
.quantity{
  width: 2em;
  height: 2em;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 4px;

}
.bx.bx-trash{
  cursor: pointer;
  background-color: #ee0a0a;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  margin-left: 90px;
  
}
.close-cart{
display: flex;
justify-content:end;
  right: 0;
  top:10;
  background-color: #ccc;
  font-weight: 700;
  font-size: 1.5em;
  color: #291e1e;
  padding: 5px;

  cursor: pointer;
}
.total-price{
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
  padding: 10px;
  font-weight: 700;
  font-size: 1.2em;
}
.checkout{
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  font-weight: 700;
  font-size: 1.2em;
  background-color: #f44343;
  border:none;
  cursor: pointer;
  color: #ffffff;
  
}

