*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f1f1f1;

}
.cart{
  position: absolute;
  right: 0;

  z-index: 999;
  background-color: #fff;
  width: 400px;
  position: fixed;
  display: flex;
  flex-direction: column;

}
.cart h3{
  text-align: center;
  padding: 10px;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ccc;
}
.cart-content{
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.cart .cart-img{
  width: 100px;
  height: 100px;
}
.cart-product-info{
  display: flex;
  justify-content: space-around;
}

